.MoviePage {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.mp-primary-content {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  color: white;
  aside {
    position: relative;
    animation: slideInRight 1s forwards;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .poster-image {
    position: relative;
    z-index: 2;
    animation: slideInLeft 1s forwards;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    height: 100vh;
    width: 35vw;
    cursor: pointer;
  }
  .backdrop-image {
    position: relative;
    z-index: 2;
    animation: fadeIn 1s forwards;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    height: 100vh;
    width: 60vw;
    cursor: pointer;
  }
  .production-companies {
    justify-self: flex-end;
    text-align: center;
  }
  .production-companies > * {
    cursor: pointer;
    margin: 1rem;
    vertical-align: middle;
  }
  img {
    filter: invert(100%);
  }
}

.backdrop {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: url("https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  opacity: 0.02;
  filter: grayscale(1) invert(100%);
}

.mp-support-content {
  border: 1px solid blue;
}

.mp-movie-info {
  // border: 1px solid red;
  padding-left: 1rem;
  .movie-support {
    display: flex;
    justify-content: center;
  }
  .movie-support > * {
    margin: 0 1rem;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
