.favorite-btn {
  position: absolute;
  background: url("../../../_assets/svgs/bookmark-solid.svg");
  height: 35px;
  width: 25px;
  border: 1px solid red;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    background: url("../../../_assets/svgs/bookmark-regular.svg");
    background-repeat: no-repeat;
  }
}
