@import "../../_styles//variables.scss";

.movies-container:hover .MovieCard {
  transform: translateX(-25%);
}

.MovieCard:hover ~ .MovieCard {
  transform: translateX(25%);
}

.MovieCard:hover {
  transform: scale(1.2) !important;
}

.MovieCard {
  position: relative;
  flex: 0 0 15%;
  margin: 0 2px;
  color: white;
  z-index: 2;
  height: 278px;
  transition: 0.4s min-width ease-in, 0.35s transform ease-in;
  cursor: pointer;
  .poster-image {
    // height: 280px;
  }
  .overlay-content {
    position: absolute;
    animation: fade-in-hold 1.5s forwards;
    z-index: 3;
    border: 1px solid black;
    height: 99.5%;
    width: 99.7%;
    h3 {
      margin: 0;
    }
  }
  .movie-title {
    position: absolute;
    display: inline;
    // border: 1px solid red;
    top: 6%;
    left: 5%;
    color: $text-light;
  }
  .movie-overview {
    position: absolute;
    top: 30px;
    left: 5%;
    -webkit-backface-visibility: hidden;
    height: 150px;
    overflow-y: scroll;
    padding: 0.2rem 0.5rem 1rem 0;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0);
    // border: 1px solid red;
    width: 75%;
  }
  .movie-language {
    position: absolute;
    bottom: 0px;
    left: 5%;
  }
  .movie-popularity {
    position: absolute;
    bottom: 0px;
    left: 30%;
  }
  .backdrop-image {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.play-icon {
  position: absolute;
  // border: 1px solid red;
  top: 20%;
  left: 93%;
  color: $text-light;
  transition: 0.2s transform ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: 0.03s transform ease-in-out;
    transform: scale(1.35);
    color: $color-accent;
  }
}

.bookmark-icon {
  position: absolute;
  // border: 1px solid red;
  top: 5%;
  left: 93%;
  color: $text-light;
  transition: 0.2s transform ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: 0.03s transform ease-in-out;
    transform: scale(1.35);
    color: $color-accent;
  }
}

.bookmarked {
  color: gold;
}

.screen-solid {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.505);
  animation: fade-in-hold 1.5s forwards;
  height: 100%;
  width: 100%;
}

@keyframes fade-in-hold {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
