.MovieCard {
  position: relative;
  border: 1px solid red;
  height: 278px;
  margin: 0 0.3rem;
  transition: 0.4s min-width ease-in, 0.35s transform ease-in;
  cursor: pointer;
  .poster-image {
    position: absolute;
    top: 0;
    left: 0;
  }
  .backdrop-image {
    // position: absolute;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.expand {
  width: 350px;
}
