@import "../../_styles/variables.scss";
@import "../../_styles/animations.scss";

.movies-container:hover .MovieCard {
  transform: translateX(-25%);
}

.MovieCard:hover ~ .MovieCard {
  transform: translateX(25%);
}

.MovieCard:hover {
  transform: scale(1.2) !important;
}

.MovieCard {
  position: relative;
  flex: 0 0 15%;
  margin: 0 5px;
  color: white;
  z-index: 2;
  height: 278px;
  transition: 0.4s min-width ease-in, 0.35s transform ease-in;
  cursor: pointer;
  .poster-image {
    min-height: 278px;
    max-width: 185px;
  }

  .overlay-content {
    position: absolute;
    animation: fade-in-hold 1.5s forwards;
    z-index: 3;
    border: 1px solid black;
    height: 99.5%;
    width: 99.7%;
    h3 {
      margin: 0;
    }
    p {
      font-size: 12px;
    }
  }
  .primary-content {
    width: 80%;
    height: 80%;
    padding: 0.5rem;
  }
  .movie-title {
    display: inline;
    color: $text-light;
  }
  .movie-overview {
    -webkit-backface-visibility: hidden;
    height: 150px;
    overflow-y: scroll;
    padding: 0.2rem 0.5rem 1rem 0;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0);
    width: 100%;
  }
  .movie-language {
    position: absolute;
    bottom: 0px;
    left: 5%;
  }
  .movie-popularity {
    position: absolute;
    bottom: 0px;
    left: 35%;
  }
  .backdrop-image {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.play-icon {
  position: absolute;
  top: 20%;
  left: 90%;
  color: $text-light;
  transition: 0.2s transform ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: 0.03s transform ease-in-out;
    transform: scale(1.35);
    color: $color-accent;
  }
}

.bookmark-icon {
  position: absolute;
  top: 6%;
  left: 90%;
  color: $text-light;
  transition: 0.2s transform ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: 0.03s transform ease-in-out;
    transform: scale(1.35);
    color: $color-accent;
  }
}

.bookmarked {
  color: gold;
}

.bookmarkedCard {
  border: 2px solid gold;
}

.notBookmarked {
  border: 2px solid black;
}

.screen-solid {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.505);
  animation: fade-in-hold 1.5s forwards;
  height: 100%;
  width: 100%;
}
