@keyframes slideInRight {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-250vh);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-hold {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
