.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.main-body {
  position: relative;
  z-index: 3;
  width: 90%;
  top: -5vh;
  min-height: 100vh;
  transform: translateY(-50px);
}
