@import "../../_styles//variables.scss";

.HeroContent {
  position: relative;
  color: $text-light;
  width: 100vw;
  height: 825px;
  animation: slideInLeft 0.5s forwards;
  animation-duration: 1s;
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .hero-movie-details {
    position: absolute;
    width: 30%;
    padding: 3.5rem 0 2rem 2.2rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.2987570028011205) 91%,
      rgba(0, 0, 0, 0) 100%
    );
    top: 0;
    left: 0;
    h2 {
      font-size: 64px;
      margin-bottom: 0;
    }
    p {
      width: 90%;
      line-height: 1.2;
      margin-top: 0.5rem;
    }
  }
  .hero-movie-support {
    bottom: 12rem;
    right: 4vw;
    position: absolute;
  }
  .rating {
    border: 1px solid $text-light;
    padding: 0.4rem 1rem;
  }
  .opacity-filter {
    position: absolute;
    background: linear-gradient(
      0deg,
      $primary-color 0%,
      $primary-color 6%,
      rgba(0, 0, 0, 0) 50%
    );
    top: 0;
    height: 100%;
    width: 100%;
  }
  button {
    border: 1px solid $text-light;
    color: $text-light;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.26);
  }
}
