.HeroImage {
  position: relative;
  z-index: -1;
  border: 1px solid red;
  width: 100%;
  height: 85vh;
}

.hero-image {
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid green;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero-text {
  position: absolute;
  z-index: 2;
  color: white;
}

.screen {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.664);
  height: 100%;
  width: 100%;
}
