.NavBar {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 60px;
  z-index: 5;
  div {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 90%;
  }
}
